/* vDesk.MetaInformation.Row */
.Mask.Editor > .Rows > .Row.Editor {
    height: 30px;
    cursor: grab;
    white-space: nowrap;
}

.Mask.Editor > .Rows > .Row.Editor.Hover {
    box-shadow: 0px 0px 5px 4px rgba(59, 216, 247, 1);
}

.Mask.Editor > .Rows > .Row.Editor > .TextBox.Name, .Mask.Editor > .Rows > .Row.Editor > .Select.Type, .Mask.Editor > .Rows > .Row.Editor > .CheckBox.Required {
    cursor: default;
}

.Mask.Editor > .Rows > .Row.Editor > .Cell.Required {
    text-align: center;
}

.Mask.Editor > .Rows > .Row.Editor > .Cell.Delete > .Button.Delete {
    background-color: #F33;
    color: #FFF;
    line-height: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;
    margin: 5px;
}

.Mask.Editor > .Rows > .Row.Editor > .Cell.Delete > .Button.Delete:hover {
    background-color: #F60;
}

.Mask.Editor > .Rows > .Row.Editor > .Cell.Delete > .Button.Delete:disabled {
    background-color: #555;
}