/* vDesk.MetaInformation.DataSetEditor */
.DataSet.Editor {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.DataSet.Editor .DataSet {
    width: 100%;
    height: calc(100% - 30px);
    float: left;
    overflow: hidden;
}