/* vDesk.Messenger.Groups.Message.Editor */
.Groups.MessageEditor {
    position: relative;
}

.Groups.MessageEditor > .Text {
    margin: 5px;
    height: calc(100% - 14px);
    width: calc(100% - 114px);
    float: left;
}

.Groups.MessageEditor > .Controls {
    width: 100px;
    position: absolute;
    bottom: 6px;
    right: 0;
}

.Groups.MessageEditor > .Controls > .EmojiPicker {
    float: left;
    margin-right: -1px;
}

.Groups.MessageEditor > .Controls > .Send {
    float: left;
}
