/* vDesk.Security.AccessControlList */
.AccessControlList {
    padding: 0;
    list-style: none !important;
    margin: 5px;
}

.AccessControlList.Hover {
    box-shadow: 0 0 5px 4px rgba(59, 216, 247, 1);
}

.AccessControlList > .Header {
    float: left;
    border: 1px solid;
    width: calc(100% - 2px);
    height: 20px;
}

.AccessControlList > .Header > .Name {
    float: left;
    width: calc(100% - 92px);
    height: 18px;
    padding: 2px;
}

.AccessControlList > .Header > .Permission {
    float: left;
    width: 18px;
    height: 18px;
    padding: 2px;
    text-align: center;
}