/* vDesk.Security.UserGroupList */
.UserGroupList {
    list-style: none !important;
    padding: 0;
    margin: 5px;
}

.UserGroupList > .Header {
     display: block;
     border: 1px solid;
     float: left;
     width: calc(100% - 2px);
     height: 20px;
 }

.UserGroupList > .Header > .Name {
    float: left;
    width: calc(100% - 4px);
    height: 18px;
    padding: 2px;
}