
.EmojiPicker {
    overflow: visible;
}


.EmojiPicker > .Emojis {
    width: 100px;
    height: 100px;
    padding: 5px;
    box-shadow: 5px 5px 5px #333;
    overflow-y: auto;
}

.EmojiPicker > .Emojis > .Emoji {
    cursor: pointer;
}

