/* vDesk.Controls.TabControl.TabItem */
.TabItem {
    height: calc(100% + 1px);
    margin-right: -1px;
    border: 1px solid;
}

.TabItem.Current {
    border-bottom-color: transparent !important;
}