/* vDesk.MetaInformation.DataSetEditor */
.DataSetEditor {
    width: 100%;
    height: 100%;
    min-width: 705px;
}

.DataSetEditor .Editor {
    width: 100%;
    height: calc(100% - 30px);
    float: left;
    overflow: hidden;
}

.DataSetEditor .Controls {
    width: 100%;
    height: 30px;
    float: left;
}

.DataSetEditor .Controls .Button {
    margin-left: 20px;
    margin-top: 3px;
}