/* vDesk.MetaInformation.MaskDesigner */
.MaskDesigner {
    width: 100%;
    height: 100%;
}

.MaskDesigner > .MaskList {
    float: left;
    height: calc(100% - 32px);
}

.MaskDesigner > .Mask.Editor {
    float: left;
    width: calc(100% - 202px);
    height: calc(100% - 30px);
}

.MaskDesigner > .Controls {
    height: 30px;
    width: 100%;
    float: left;
}

.MaskDesigner > .Controls > .Button {
    margin-left: 20px;
    margin-top: 4px;
}