/* vDesk.MetaInformation.Search */
.Search > .MetaInformation {
    width: inherit;
    height: inherit;
    position: absolute;
}
/* Search */
.Search > .MetaInformation .Search.GroupBox {
    height: calc(100% - 27px);
    width: calc(100% - 12px);
}

.Search > .MetaInformation .Search.GroupBox .Options {
    margin-top: 5px;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    line-height: 1.5;
    height: 25px;
}

.Search > .MetaInformation .Search.GroupBox .Options > .Label {
    cursor: help;
    margin-left: 10px;
}

.Search > .MetaInformation .Search.GroupBox .Options > .Button {

}

.Search > .MetaInformation .Search.GroupBox .Options select {
    width: 100%;
    float: left;
    height: 21px;
    margin-bottom: 6px;
}
.Search > .MetaInformation .Search.GroupBox .MaskList {
    height: calc(100% - 37px) !important;
}

.Search > .MetaInformation .Search.GroupBox .DataSet {
    height: calc(100% - 35px) !important;
    width: calc(100% - 202px) !important;
}
/* Results */
.Search > .MetaInformation .Results {
    width: 100%;
    height: 100%;
}
.Search > .MetaInformation .Results > .Elements.GroupBox {
    float: left;
    height: calc(100% - 27px);
    width: 398px;
}

.Search > .MetaInformation .Results > .Preview.GroupBox {
    width: calc(100% - 422px);
    height: calc(100% - 27px);
    float: left;
}
