/* vDesk.Packages.PackageList.Item */
.PackageList .Item {
    width: 100%;
    border-bottom: 1px solid #999;
    height: 20px;
    padding-left: 3px;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.PackageList .Item:hover {
    background-color: var(--ControlHover, #2AB0ED);
    color: var(--FontLight, #FFFFFF);
}

.PackageList .Item:active {
    background-color: var(--ControlPress, #468CCF);
}

.PackageList .Item.Selected {
    background-color: var(--ControlSelected, #FFCF32);
}

.PackageList .Item.Disabled {
    color: var(--FontDisabled, #999999);
}


.PackageList .Item > span {
    z-index: 1;
    position: relative;
}

.PackageList .Item > progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.PackageList .Item > progress.Pending::-moz-progress-bar {
    background: yellow;
}

.PackageList .Item > progress.Pending::-webkit-progress-value {
    background: yellow;
}

.PackageList .Item > progress.Finished::-moz-progress-bar {
    background: greenyellow;
}

.PackageList .Item > progress.Finished::-webkit-progress-value {
    background: greenyellow;
}

.PackageList .Item > progress.Error::-moz-progress-bar {
    background: red;
}

.PackageList .Item > progress.Error::-webkit-progress-value {
    background: red;
}