/* vDesk.Controls.ContextMenu.Item */
.ContextMenu .Item {
    border-bottom: 1px solid var(--BorderLight, rgba(153, 153, 153, 1));
    height: 20px;
    display: none;
    user-select: none;
}

.ContextMenu .Item:hover {
    background-color: var(--ButtonHover, rgba(153, 153, 153, 1));
}

.ContextMenu .Item:active {
    background-color: var(--ButtonPress, rgba(119, 119, 119, 1));
}

.ContextMenu .Item.Right {
    margin-left: 190px;
}

.ContextMenu .Item.Left {
    margin-left: -192px;
}

.ContextMenu .Item.Visible {
    display: list-item;
}

.ContextMenu .Item > .Title {
    border-left: 1px solid var(--BorderLight, rgba(153, 153, 153, 1));
    font-family: var(--Font);
    color: var(--FontDark);
    height: 20px;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    padding-left: 2px;
}

.ContextMenu .Item > .Icon {
    width: 16px;
    height: 16px;
    margin: 2px;
    float: left;
}