/* vDesk.Controls.ContextMenu.Item */
.ContextMenu .Item {
    border-bottom: 1px solid #bbbbbb;
    height: 20px;
    display: none;
    user-select: none;
}

.ContextMenu .Item:hover {
    background: linear-gradient(to bottom, rgba(247, 251, 252, 0.35) 0%, rgba(217, 237, 242, 0.43) 40%, rgba(173, 217, 228, 0.55) 100%);
    border-radius: 5px;
}

.ContextMenu .Item.Right {
    margin-left: 190px;
}

.ContextMenu .Item.Left {
    margin-left: -192px;
}

.ContextMenu .Item.Visible {
    display: list-item;
}

.ContextMenu .Item > .Title {
    border-left: 1px solid #bbbbbb;
    font-family: var(--Font);
    color: var(--FontDark);
    height: 20px;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    padding-left: 2px;
}

.ContextMenu .Item > .Icon {
    width: 16px;
    height: 16px;
    margin: 2px;
    float: left;
}