/* vDesk.Calendar.Event */

.Event {
    box-shadow: 3px 3px 5px #333;
    overflow: visible !important;
}

.Event > .Header {
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 28px;
}

.Event > .Header.Half {
    width: 50% !important;
}

.Event .Content {
    overflow: hidden !important;
}

.Event .NoResize {
    cursor: default !important;
}

.Event.FullTime {
    width: 100% !important;
    height: 20px !important;
    position: relative !important;
    border-bottom: 1px solid var(--BorderLight);
    left: 0 !important;
    top: 0 !important;
    color: #fff !important;
}

.Event.FullTime > .Header {
    height: 100% !important;
    cursor: default !important;
    top: 0 !important;
    line-height: 1 !important;
}

.Event.FullTime .Border {
    width: 0 !important;
    height: 0 !important;
}

.Event.FullTime .Corner {
    width: 0 !important;
    height: 0 !important;
}

.Event.FullTime .Content {
    display: none !important;
}