/* vDesk.Contacts.Contact.Editor */
.ContactEditor {
    width: calc(100% - 12px);
    height: calc(100% - 27px);
}

.ContactEditor .EditControl {
    width: 100%;
    margin-bottom: 2px;
}

.ContactEditor .EditControl.Surname, .ContactEditor .Owner {
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}

.ContactEditor .EditControl > .Editor.Text {
    min-height: 66px;
}