/* vDesk.Contacts.Contact.Viewer */
.ContactViewer {

}

.ContactViewer > h2 {
    text-align: center;
}

.ContactViewer .Address {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ContactViewer .Address > .Row {
    width: 100%;
    height: 25px;
}

.ContactViewer .ContactOptions {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ContactViewer .ContactOptions > .Row {
    width: 100%;
    height: 25px;
}

.ContactViewer .ContactOptions > .Row > .Label {
    float: left;
    min-width: 30%;
}

.ContactViewer .ContactOptions > .Row > .Text {
    float: left;
}