/* vDesk.Controls.Calendar.View.Year */
.Year {
    height: 100%;
    width: 100%;
}

.Year > .Row {
    list-style: none;
    display: block;
    width: 100%;
    height: calc(33.333333333% - 1px);
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid;
}

.Year > .Row:last-child {
    border: none !important;
}

.Year > .Row > .Cell {
    width: calc(25% - 1px);
    height: 100%;
    border-right: 1px solid;
    float: left;
}

.Year > .Row .Cell:last-child {
    border: none !important;
}