/* vDesk.Packages.Administration */
.PackageAdministration {
    width: 100%;
    height: 100%;
}

.PackageAdministration > .PackageList {
    float: left;
    height: calc(100% - 32px);
}

.PackageAdministration > .Container {
    float: left;
    width: calc(100% - 202px);
    height: calc(100% - 30px);
}

.PackageAdministration > .Controls {
    height: 30px;
    float: left;
    width: 100%;
}

.PackageAdministration > .Controls > .Button {
    margin-left: 20px;
    margin-top: 4px;
}