/* vDesk.Packages.Package */
.PackageAdministration > .Description > .Package {
    list-style: none;
    padding: 0;
    margin: 10px;
    float: left;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}

.PackageAdministration > .Description > .Package > .Row {
    width: 100%;
    float: left;
}

.PackageAdministration > .Description > .Package > .Row > .Label {
    width: 100%;
    float: left;
    height: 25px;
    text-decoration: underline;
}

.PackageAdministration > .Description > .Package > .Row > .Text {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    white-space: pre-wrap;
    font-size: 14px;
    margin: 0;
}