/* vDesk.Search.Generic */
.Search > .Generic {
    width: inherit;
    height: inherit;
    position: relative;
}

.Search > .Generic > .Search {
    width: 410px;
    float: left;
    height: 100%;
}

.Search > .Generic > .Search > .GroupBox.Values {
    height: 62px;
    width: 398px;
}

.Search > .Generic > .Search > .GroupBox.Values .TextBox {
    width: calc(100% - 6px);
}

.Search > .Generic > .Search > .GroupBox.Results {
    height: calc(100% - 111px) !important;
    width: 398px;
}

.Search > .Generic .GroupBox.Preview {
    width: calc(100% - 422px);
    height: calc(100% - 27px) !important;
    float: right;
}
