/*
    vDesk.Archive.Element
*/
.Archive .Element {
    width: 80px;
    max-height: 80px;
    border: 1px solid transparent;
    margin: 9px;
    float: left;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.Archive .Element:hover {
    background-color: rgba(161, 219, 255, 0.4);
    border: 1px solid #a1dbff;
}

.Archive .Element:active {
    background-color: rgba(161, 219, 255, 0.6);
}

.Archive .Element.Selected, .Archive .Element.Selected:active {
    background-color: rgba(124, 207, 255, 0.6);
    border: 1px solid #a1dbff;
    border-bottom: 1px solid transparent !important;
    overflow: visible;
    max-height: 160px;
}

.Archive .Element > .Icon {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    z-index: 201;
    user-select: none;
    position: relative;
}

.Archive .Element > .Name {
    position: relative;
    pointer-events: none;
    user-select: none;
    font-size: 11px;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
    z-index: 202;
    line-height: 15px;
}

.Archive .Element > .Name.TextBox {
    pointer-events: all !important;
    user-select: all !important;
}