/*
    vDesk.Archive.FolderView
*/
.Archive .FolderView{
    margin: 0px;
    float: left;
    padding: 0px;
    height: calc(100% - 30px);
    min-height: 494px;
    overflow-y: auto;
    width: calc(80% - 5px);
    position: relative;
}

.Archive .FolderView .SelectionRectangle{
    border: 1px solid #a1dbff;
    position: absolute;
    z-index: 9999;
    background-image: linear-gradient(to bottom,transparent 0px, rgba(161,219,255,0.4)0px, rgba(161,219,255,0.4) 100%);
}
