/* vDesk.Security.Group.Administration */
.GroupAdministration {
    width: 100%;
    height: 100%;
}

.GroupAdministration > .GroupList {
    float: left;
    height: calc(100% - 32px);
}

.GroupAdministration > .GroupEditor {
    float: left;
    width: calc(100% - 202px);
    height: calc(100% - 30px);
}

.GroupAdministration > .Controls {
    height: 30px;
    float: left;
    width: 100%;
}

.GroupAdministration > .Controls > .Button {
    margin-left: 20px;
    margin-top: 4px;
}