/* vDesk.Security.Group.Editor */
.GroupEditor {
    width: 100%;
    height: 100%;
}

.GroupEditor > .Header {
    width: 100%;
    height: 25px;
}

.GroupEditor > .Header > .Name {
    width: 50%;
    margin-left: 5px;
}

.GroupEditor > .Header > .Button {
    width: 23px;
    height: 23px;
    float: right;
    margin-right: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
}

.GroupEditor > .Permissions {
    list-style: none;
    width: 100%;
    height: calc(100% - 25px);
    margin: 0;
    padding: 0;
    overflow: auto;
}


