/* vDesk.Security.Configuration.Pemission */
.GroupEditor > .Permissions > .Permission {
    width: 100%;
    border-bottom: 1px solid;
}

.GroupEditor > .Permissions > .Permission > .Value {
    margin-left: 5px;
}

.GroupEditor > .Permissions > .Permission > .Name {
    margin-left: 5px;
    width: 30%;
    display: inline-block;
}

.GroupEditor > .Permissions > .Permission > .Description {
    margin-left: 5px;
    width: 60%;
    display: inline-block;
}