/* vDesk.Contacts.Contact.Editor.Window */
.ContactEditorWindow .ContactEditor {
    height: calc(100% - 127px);
    width: calc(100% - 12px);
    float: left;
}

.ContactEditorWindow .AccessControlListEditor {
    height: calc(100% - 100px);
    width: 100%;
    float: left;
}