/*
    Calendar.Event.Viewer
*/
.Event.Viewer{
    list-style: none;
    margin: 20px;
    width: calc(100% - 62px);
    height: calc(100% - 62px);
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}
.Event.Viewer > .Row{
    width: 100%;
    float: left;
}
.Event.Viewer > .Row.Title{
    height: 25px;
}
.Event.Viewer > .Row.Start{
    height: 24px;
    border-top: 1px solid;
}
.Event.Viewer > .Row.End{
    height: 24px;
    border-bottom: 1px solid;
}
.Event.Viewer > .Row.Owner{
    height: 24px;
    border-bottom: 1px solid;
}
.Event.Viewer > .Row.Content{
    height: calc(100% - 100px);
    overflow: auto;
}
.Event.Viewer .Label{
    width: 80px;
    display: block;
    float: left;
    font-weight: bold;
}