/* vDesk.Security.UserList.Item */
.UserList .Item {
    width: 100%;
    border-bottom: 1px solid;
    height: 20px;
    padding-left: 3px;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

.UserList .Item:hover {
    background-color: var(--ControlHover, #2AB0ED);
    color: var(--FontLight, #FFFFFF);
}

.UserList .Item:active {
    background-color: var(--ControlPress, #468CCF);
}

.UserList .Item.Selected {
    background-color: var(--ControlSelected, #FFCF32);
}

.UserList .Item.Disabled {
    color: var(--FontDisabled, #999999);
}