/* vDesk.MainMenu */
.MainMenu {
    width: 100px;
    float: left;
    height: 100%;
}

.MainMenu > button {
    border: none;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    z-index: 300 !important;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.MainMenu > button:hover {
    background-color: var(--ButtonHover, rgba(153, 153, 153, 1)) !important;
}

.MainMenu > button:active {
    background-color: var(--ButtonPress, rgba(119, 119, 119, 1)) !important;
    top: 1px;
}

.MainMenu > .Container {
    width: 500px;
    height: 200px;
    z-index: 200 !important;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0;
    top: 17px;
    padding: 15px 2px 2px;
    box-shadow: 5px 5px 5px #333;
}

.MainMenu > .Container > .List {
    list-style: outside none none;
    padding: 0;
    width: 200px;
    margin: 0;
    height: 100%;
    display: block;
    border-right: 1px solid #999;
    float: left;
}

.MainMenu > .Container > .Description {
    padding: 5px;
    float: left;
    height: calc(100% - 10px);
    width: calc(100% - 211px);
}