/* vDesk.WorkSpace */
.vDesk > .WorkSpace {
    float: left;
    width: 100%;
    padding: 0;
    height: calc(100% - 150px);
    z-index: 100;
    position: relative;
    overflow: hidden;
}

.vDesk > .WorkSpace > .Header {
    height: 30px;
    width: 100%;
    float: left;
    font-weight: bold;
}


.vDesk > .WorkSpace > .Container {
    display: block;
    padding: 0;
    margin: 0;
    float: left;
    overflow: auto;
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 95px);
}