/* vDesk.ModuleList.Item */
.vDesk > .WorkSpace > .ModuleList > .Item {
    margin-top: 1px;
    border-top: medium none;
    border-left: medium none;
    border-right: medium none;
    border-bottom: 1px solid;
    font-size: 10px;
    height: 80px;
    width: 90px;
    float: left;
    background-size: 25px auto;
    background-position: center 15px;
    background-repeat: no-repeat;
    padding-top: 30px;
    font-weight: bold;
}