.Page {
    grid-template-rows: 50px repeat(5, calc(100% - 50px)) 60px !important;
}

.Page > footer {
    grid-row: 7 !important;
}

h2 > img {
    height: 1em;
    vertical-align: text-top;
}

#Description, #Features, #Technology, #Customization, #Development {
    animation-duration: 1s;
    grid-column: 2;
    overflow-x: hidden;
}


.Crumbs > .Crumb:first-of-type {
    animation-delay: 1s !important;
}

.Crumbs > .Crumb:last-of-type {
    animation-delay: 0.75s !important;
}

.Box {
    padding: 10px;
    margin: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 10px #111;
    z-index: 4;
}

a.Button {
    background-color: #2AB0ED;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

a.Button:hover {
    background-color: #468CCF;
}

a.Button:active {
    margin: 1px -1px -1px 1px;
    background-color: #2161ba;
}

section.Paused {
    width: 50% !important;
}

@media only screen {
    /* Smartphone */
    @media (max-device-width: 768px)
    and (max-device-height: 768px) {
        .Box {
            font-size: 0.8rem;
            padding: 5px !important;
        }

        .Box > h2 {
            font-size: 1rem !important;
        }

        .Box > p {
            margin-top: 0;
        }
    }
    /* Tablet */
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
        .Box {
            font-size: 0.95rem;
            padding: 5px !important;
        }

        .Box > h2 {
            font-size: 1.2rem !important;
        }

        .Box > p {
            margin-top: 0;
        }
    }
}