html, body, .Page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.Page {
    font-family: Arial, serif;
    color: black;
    height: 100%;
}

.Page > header {
    height: 50px;
    width: 100%;
    background-color: #2AB0ED;
}

.Page > header > h1,
.Page > header > h2,
.Page > header > h3 {
    float: left;
    background-color: white;
    margin: 0;
    padding: 11px;
}

.Page > header > h1 > a, .Page > header > h1 > a:visited {
    color: #333333;
    text-decoration: none;
}

.Page > header > nav {
    height: calc(100% - 10px);
    float: right;
    padding: 5px;
    margin: 0;
}

.Page > header > nav > a {
    display: inline-block;
    height: calc(100% - 10px);
    padding: 5px;
    line-height: 30px;
    text-decoration: none;
    font-family: Arial, serif;
    color: white;
}

.Page > header > nav > a.Current {
    text-decoration: underline;
}

.Page > header > nav > a:hover {
    color: lightgray;
}

.Toggle {
    display: none;
}

@media only screen and (max-device-width:768px) {
    .Toggle {
        display: inline !important;
    }

    .Page > header > nav {
        position: absolute;
        top: 0;
        right: 0;
    }

    .Page > header > nav > a {
        display: list-item;
    }
}

.Page > section {
    width: 80%;
    min-height: calc(100% - 108px);
    padding: 10px 10% 10px 10%;
}

.Page > footer {
    padding: 10px;
    background-color: #2AB0ED;
    color: white;
    text-align: center;
}

.Description.vDesk {
    height: 200px;
}

#Contact {
    min-height: 80%;
}

#Contact .GroupBox {
    height: 100%;
    position: relative;
}

#Contact .EditControl {
    width: calc(100% - 2px);
    margin-bottom: 20px;
}
