
article.Packages > header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(30px, 10%) 20% minmax(30px, 10%) 60%;

}

article.Packages > header > h2 {
    grid-row: 1;
}

article.Packages > header > p {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

article.Packages > header > h3 {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

article.Packages > header > ul {
    grid-row: 4;
}

article.Packages > header > .Core {
    grid-column: 1;
}

article.Packages > header > .Optional {
    grid-column: 2;
}

article.Packages > header > .Packages {
    list-style: none;
    padding: 20px;
    margin: 10px;
    border: #999999 solid 1px;
}

article.Packages > header > .Packages > .Title {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: #999999 solid 1px;
}

main > article.Packages > article,
main > article.Packages > article > header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #999 solid 2px;
}

main > article.Packages > article:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

article.Package > .Description {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

article.Package > .Description > aside {
    padding: 10px;
    background-color: #999999;
    border-radius: 5px;
}

article.Package > .Description ul {
    padding: 15px;
    margin: auto;
    list-style-type: "►";
    font-size: 18px;
}

article.Package > .Description > ul > li {
    padding-left: 15px;
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

article.Package > header:last-child,
article.Package > .Description > ul > li:last-child {
    border-bottom: none;
}

article.Package > header {
    display: grid;
    grid-template-rows: 2rem auto 1.5rem auto;
    grid-template-columns: repeat(5, minmax(0%, 50%));
}

article.Package > header > h3 {
    justify-self: start;
    align-self: center;
    margin: 0;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 6;
}

article.Package > header > p.Description {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}

article.Package > header > h4 {
    grid-row: 3;
    margin: 0;
    justify-self: start;
    align-self: center;
}

article.Package > header > ul {
    list-style: none;
    padding: 0;
}

article.Package > header > p,
article.Package > header > ul {
    grid-row: 4;
}

article.Package > header > .Configuration .Recommended,
article.Package > header > .Requirements .Recommended {
    color: green;
}

article.Package > header > .Configuration .Required,
article.Package > header > .Requirements .Required {
    color: darkgoldenrod;
}

/* Smartphone */
@media only screen and (max-device-width: 600px) {

    .Package > .Description {
        grid-template-columns: 100% !important;
        grid-gap: 0 !important;
    }

    .Package > .Description > aside {
        padding: 5px !important;
    }

}

/* Smartphone */
@media only screen and (orientation: portrait) {


    article.Package > header {
        display: grid;
        grid-template-rows: 2rem auto !important;
        grid-template-columns: 100% !important;
    }

    article.Package > header > h3,
    article.Package > header > p.Description {

        grid-column: 1;
    }

    article.Package > header > h4,
    article.Package > header > p,
    article.Package > header > ul {
        grid-row: auto;
    }

}
