
section.Packages {

}


section.Packages > header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(30px, 10%) 20% minmax(30px, 10%) 60%;

}

section.Packages > header > h2 {
    grid-row: 1;
}

section.Packages > header > p {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

section.Packages > header > h3 {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

section.Packages > header > ul {
    grid-row: 4;
}

section.Packages > header > .Core {
    grid-column: 1;
}

section.Packages > header > .Optional {
    grid-column: 2;
}

section.Packages > header > .Packages {
    list-style: none;
    padding: 20px;
    margin: 10px;
    border: #999999 solid 1px;
}

section.Packages > header > .Packages > .Title {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: #999999 solid 1px;
}

.Package {
    padding: 10px;
    margin-bottom: 20px;
}

.Package > hr {
    margin: 30px 0 30px 0;
}

.Package > .Description {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.Package > .Description > aside {
    padding: 10px;
    background-color: #999999;
    border-radius: 5px;
}

.Package > .Description ul {
    padding: 15px;
    margin: auto;
    list-style-type: "►";
    font-size: 18px;
}

.Package > .Description > ul > li {
    padding-left: 15px;
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.Package > .Description > ul > li:last-child {
    border-bottom: none;
}

.Package > header > .Dependencies {
    list-style: square;
}

.Package > header > .Features {
    list-style: square;
    margin: 10px;
    padding: 10px 10px 10px 25px;
    border: none;
}

.Package > header > .Configuration,
.Package > header > .Requirements {
    list-style: none;
}

.Package > header > .Configuration .Recommended,
.Package > header > .Requirements .Recommended {
    color: green;
}

.Package > header > .Configuration .Required,
.Package > header > .Requirements .Required {
    color: darkgoldenrod;
}

/* Smartphone */
@media only screen and (max-device-width: 600px) {

    .Package > .Description {
        grid-template-columns: 100% !important;
        grid-gap: 0 !important;
    }

    .Package > .Description > aside {
        padding: 5px !important;
    }

}
