/* vDesk.Controls.Calendar */
.Calendar {
    width: 100%;
    height: 100%;
}

.Calendar > .Header {
    width: inherit;
    height: 30px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Calendar > .Header > .Cell {
    width: 33%;
    height: 100%;
    float: left;
    cursor: default;
    text-align: center;
}

.Calendar > .Header > .Cell:hover {
    text-shadow: none;
    box-shadow: none;
}

.Calendar > .Header > .Cell > .Button{
    margin-top: 3px;
}

.Calendar > .Body {
    width: calc(100% - 2px);
    height: calc(100% - 32px);
    border: 1px solid;
    overflow: hidden;
}