/* vDesk.Controls.ContextMenu */
.ContextMenu {
    position: absolute;
    background-color: var(--ButtonBackground, #DBDBDB);
    box-shadow: 2px 2px 5px 0 rgba(51, 51, 51, 0.75);
    width: 198px;;
    z-index: 9999999;
    border: 1px solid;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ContextMenu.Left {
    margin-left: -200px;
}

.ContextMenu.Right {
    margin-left: 198px;;
}

.ContextMenu.Top {
    margin-bottom: 0;
}

.ContextMenu.Bottom {
    margin-bottom: 100%;
}
