/* vDesk.Controls.List */
.MeddlList {
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 200px;
    height: calc(100% - 32px);
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid;
}