/* vDesk.Controls.TabControl */
.TabControl {
    height: 100%;
    width: 100%;
}

.TabControl > .Header {
    white-space: nowrap;
    height: 22px;
    border-bottom: 1px solid;
}

.TabControl > .Container {
    height: calc(100% - 23px);
    width: 100%;
    float: left;
}