/* vDesk.Controls.Table */
.Table {
    border: 1px solid;
    border-collapse: collapse;
}

.Table .Header {
    border: 1px solid;
}

.Table .Header .Cell {
    border: 1px solid;
}

.Table .Header .Cell.Selected {
    background-color: var(--ControlSelected, #FFCF32);
}