/* vDesk.Controls.TimePicker */
.TimePicker {
    display: inline-block;
    text-align: center;
}

.TimePicker .TextBox {
    min-width: 2.5em;
    text-align: center;
}

.TimePicker .Toggle {
    width: 22px;
    padding: 0;
    margin-left: -1px;
}

.TimePicker .Picker {
    width: calc(100% - 12px);
    height: 66px;
    overflow: visible;
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 1px 2px 5px #333;
    position: sticky;
    padding: 5px;
}

.TimePicker .Picker .Hour {
    width: 50%;
    height: inherit;
    float: left;
}

.TimePicker .Picker .Hour .Button {
    width: 37px;
    display: block;
    margin: auto;
    padding: 0;
}

.TimePicker .Picker .Hour .Row {
    height: 22px;
    text-align: center;
    width: 100%;
    cursor: all-scroll;
}

.TimePicker .Picker .Minute {
    width: 50%;
    height: inherit;
    float: left;
}

.TimePicker .Picker .Minute .Button {
    width: 37px;
    display: block;
    margin: auto;
    padding: 0;
}

.TimePicker .Picker .Minute .Row {
    height: 22px;
    text-align: center;
    width: 100%;
    cursor: all-scroll;
}