/* vDesk.Controls.Window */
.Window {
    border-radius: 0;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px #333 !important;
    padding: 0;
}

.Window .Border {
}

.Window .Corner {
}

.Window > .Header {
    overflow: visible !important;
    height: 30px;
    top: 0;
}

.Window > .Header:active {
    cursor: move;
}

.Window > .Header .Icon {
    margin-left: 5px;
    height: 20px;
    max-width: 20px;
    margin-top: 5px;
    display: block;
    float: left;
}

.Window > .Header .Title {
    margin-left: 10px;
    float: left;
    margin-top: 5px;
}

.Window > .Header .Button {
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -5px;
    right: 0;
    width: 50px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px 20px;
}

.Window > .Header .Button:focus {
    border: none;
}

.Window > .Header .Button:active {
    border: none;
}

.Window > .Header .Button.Minimize {
    background-color: #468CCF;
}

.Window > .Header .Button.Minimize:hover {
    background-color: #12325E;
}

.Window > .Header .Button.MaximizeRestore {
    background-color: #468CCF;
}

.Window > .Header .Button.MaximizeRestore:hover {
    background-color: #12325E;
}

.Window > .Header .Button.Close {
    background-color: #ff3333;
}

.Window > .Header .Button.Close:hover {
    background-color: #cc0000;
}

.Window.Modal > .Header .Button.Minimize {
    display: none;
}

.Window > .Content {
    overflow: auto;
    padding: 0;
}