.Topic {
    width: 80%;
    margin: auto;
    padding: 20px;
}

pre {
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}

code {
    color: whitesmoke;
    font-family: Courier New, monospace;
    white-space: pre-wrap;
}

code.Inline {
    background-color: #333333;
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
    display: inline-block;
}

code .Class {
    color: wheat;
}

.type {
    color: whitesmoke;
}

code .Function,
code .HTML {
    color: #FFC66D;
}

code .Argument {
}

code .Variable {
    color: #9876AA;
}

code .Const {
    color: #A7543F;
}

code .Console {
    color: #99ff66;
}

code .Field {
    color: #999999;
}

code .Boolean,
code .Bool,
code .NULL,
code .Null,
code .Keyword {
    color: orange;
}

code .Double,
code .Float,
code .Integer,
code .Int {
    color: lightblue;
}

code .String,
code .BlockComment {
    color: olivedrab;
}

code .Comment {
    color: slategray;
}

.Argument.Object {
    color: firebrick;
}

.Argument.Array {
    color: Olive;
}

.Argument.Resource {
    color: Orchid;
}

code .Recommended, code .NotRecommended, code .Language {
    padding: 0 5px 10px 5px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid wheat;
}

code .Recommended {
    color: olivedrab;
}

code .NotRecommended {
    color: firebrick;
}

code .Language {
    font-family: Arial;
    text-shadow: 0 -1px 2px #333333, 0 1px 1px #FFFFFF;
    color: #CCCCCC;
}

code .Language > .PHP {
    background-color: #99c;
    border-radius: 50%;
    padding: 1px 10px 4px 10px;
    margin-bottom: 4px;
}

code .Language > .JS {
    background-color: orangered;
    padding: 3px;
}

.Quote {
    color: #666;
    margin: 20px;
    text-align: center;
}

aside.Note {
    text-align: justify;
    border: 1px solid #666;
    border-radius: 20px;
    padding: 10px;
    margin: 30px;
}

aside.Note > h4 {
    width: 100%;
}

hr {
    clear: both !important;
}

#FloatingBox > .Preview,
#ResizableBox > .Preview,
#DynamicBox > .Preview {
    height: 200px;
    border: #2AB0ED 1px solid;
}

#FloatingBox > .Preview > div, #DynamicBox > .Preview > div {
    border: #333 1px solid;
    text-align: center;
}

.FloatingBox {
    padding: 20px;
}

#ResizableBox > .Preview > div {
    border: #333 1px solid;
    text-align: center;
}

#DynamicBox > .Preview .Header {
    background-color: #2AB0ED;
    color: #fff;
    line-height: 200%;
}

#DynamicBox > .Preview .Content {
    line-height: 300%;
}

#Resizer > .Preview {
    height: 200px;
}

#Resizer > .Preview > .First {
    background-color: #99ff66;
    width: 30%;
    float: left;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#Resizer > .Preview > .Resizer {
    width: 5px;
    float: left;
    height: 100%;
}

#Resizer > .Preview > .Second {
    background-color: #FF6600;
    width: calc(70% - 5px);
    float: left;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.Foreground {
    background-color: #2AB0ED !important;
}

.BorderLight {
    border-color: #999 !important;
}

.BorderDark {
    border-color: #333 !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main {
    font-family: Arial, serif;
    color: black;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50px auto 60px;
}

main > header {
    height: 50px;
    width: 100%;
    background-color: #2AB0ED;
    position: fixed !important;
    z-index: 9000;
}

main > header > h1 {
    float: left;
    background-color: white;
    margin: 0;
    padding: 11px;
    font-size: 24px;
}

main > header > h1 > a, main > header > h1 > a:visited {
    color: #333333;
    text-decoration: none;
}

main > header > nav {
    height: calc(100% - 10px);
    padding: 5px;
    margin: 0;
    float: right;
}

main > header > nav > a {
    display: inline-block;
    height: calc(100% - 10px);
    padding: 5px;
    line-height: 30px;
    text-decoration: none;
    font-family: Arial, serif;
    color: white;
}

main > header > nav > a.Current {
    text-decoration: underline;
}

main > header > nav > a:hover {
    color: lightgray;
}

header > .Toggle {
    display: none;
}

main > article {
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 100%;
}

main > article > header,
main > article > section {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #999 solid 2px;
}

main > article > section:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

main > article,
main > article > section {
    display: grid;
}

main > article.Controls > section {
    grid-template-columns: repeat(2, calc(50% - 1rem));
    grid-template-rows: 2rem calc(100% - 2rem);
    grid-column-gap: 2rem;
}

main > article.Controls > section > h3,
main > article.Controls > section > h4 {
    grid-row: 1;
    grid-column: 1;
}

main > article.Controls > section > .Code {
    grid-row: 2;
    grid-column: 1;
}

main > article.Controls > section > .Preview {
    grid-row: 2;
    grid-column: 2;
}

main > footer {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 10px;
    background-color: #2AB0ED;
    color: white;
    text-align: center;
}

aside.Image {
}

aside > img {
    cursor: zoom-in;
    max-width: 80%;
    object-fit: contain;
    border: 1px solid #333333;
    box-shadow: 7px 7px 10px #333333;
}

aside.Fullscreen > img {
    cursor: zoom-out !important;
    max-height: 100%;
    max-width: 100% !important;
}

aside.Fullscreen {
    position: fixed !important;
    width: calc(100% - 20px) !important;
    height: calc(100% - 20px) !important;
    padding: 10px !important;
    background-color: #333333 !important;
    border-radius: 0 !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 10000;
}

@media only screen and (orientation: portrait) {
    main > article.Controls > section {
        grid-template-columns: 100% !important;
        grid-template-rows: 2rem repeat(2, 1fr) !important;
        grid-column-gap: 0 !important;
    }

    main > article.Controls > section > .Code {
        grid-row: 2 !important;
    }

    main > article.Controls > section > .Preview {
        grid-row: 3 !important;
        grid-column: 1 !important;
    }
}

/* Smartphone */
@media only screen and (max-device-width: 768px) {
   header > .Toggle {
        display: inline !important;
        position: absolute !important;
        right: 0 !important;
        height: 100% !important;
        background: none !important;
        border: none !important;
        min-width: 50px !important;
        color: white !important;
        font-weight: bold !important;
        font-size: 1.5rem !important;
    }

    main > header > nav {
        position: absolute !important;
        top: 50px !important;
        right: 0 !important;
        background-color: #2AB0ED !important;
        height: auto !important;
        list-style: none !important;
        z-index: 9999 !important;
    }

    main > header > nav.Hidden {
        display: none !important;
    }

    main > header > nav > a {
        display: list-item !important;
        height: auto !important;
    }

    main > article {
        margin-bottom: 10px !important;
        padding-bottom: 10px !important;
    }

    main {
        grid-template-columns: 5px calc(100% - 10px) 5px !important;
    }

    main img {
        max-width: 100% !important;
    }
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {

    main > article {
        margin-bottom: 10px !important;
        padding-bottom: 10px !important;
    }

    main {
        grid-template-columns: 20px calc(100% - 40px) 20px !important;
    }

    main img {
        max-width: 100% !important;
    }
}