/* vDesk.Security.AccessControlList.Editor */
.AccessControlListEditor {
    width: 100%;
    height: 100%;
}

.AccessControlListEditor > .AccessControlList, .AccessControlListEditor > .UserGroupList{
    width: calc(50% - 12px);
    height: calc(100% - 42px);
    float: left;
}

.AccessControlListEditor .Arrows {
    height: 30px;
    width: 100%;
    float: left;
}

.AccessControlListEditor .Arrows > .Button {
    margin-top: 3px;
}

.AccessControlListEditor .Arrows > .Left {
    display: block;
    margin-right: auto;
    margin-left: 30%;
    float: left;
}

.AccessControlListEditor .Arrows > .Right {
    display: block;
    margin-right: 30%;
    margin-left: auto;
    float: right;
}