/*
    Security.MembershipEditor
*/
.MembershipEditor {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 150px;
}

.MembershipEditor .Arrows {
    width: 100%;
    height: 30px;
    float: left;
}

.MembershipEditor .GroupList {
    width: calc(50% - 2px);
    height: calc(100% - 32px);
}

.MembershipEditor .Arrows > .Button {
    margin-top: 3px;
}

.MembershipEditor .Arrows > .Left {
    display: block;
    margin-right: auto;
    margin-left: 30%;
    float: left;
}

.MembershipEditor .Arrows > .Right {
    display: block;
    margin-right: 30%;
    margin-left: auto;
    float: right;
}