/* vDesk.Controls.EditControl.Suggest*/
.EditControl > .Suggest {
    width: 70%;
    display: inline-block;
    position: relative;
}

.EditControl > .Suggest > .TextBox {
    width: calc(100% - 26px);
    margin-right: -1px;
}

.EditControl > .Suggest > .Button {
    text-align: center;
    width: 22px;
    height: 22px;
    display: inline-block;
    padding: 0;
}