/* vDesk.Controls.EditControl.DateTime */
.EditControl > .TimeSpan {
    display: inline-block;
    width: 70%;
}

.EditControl > .TimeSpan > .TimeSpanPicker {
    width: 100%;
    float: left;
}

.EditControl > .TimeSpan .TextBox {
    width: calc(100% - 24px);
    margin-right: -1px;
}