/* vDesk.Color.Configuration */
.ColorsConfiguration {
    height: 100%;
    width: 100%;
}

.ColorsConfiguration > .Colors {
    width: 100%;
    height: calc(100% - 30px);
    overflow: auto;
    position: relative;
}

.ColorsConfiguration > .Colors > .GroupBox > .Content {
    overflow: visible;
}

.ColorsConfiguration > .Colors > .GroupBox > .Content > .EditControl {
    width: 100%;
    margin-bottom: 2px;
}

.ColorsConfiguration > .Colors > .GroupBox > .Content > .EditControl > .Label {
    width: calc(50% - 4px) !important;
}

.ColorsConfiguration > .Colors > .GroupBox > .Content > .EditControl > .Editor {
    width: calc(50% - 4px) !important;
}

.ColorsConfiguration > .ConfirmReset {
    height: 30px;
    width: 100%;
}

.ColorsConfiguration > .ConfirmReset > .Button {
    margin-left: 20px;
    margin-top: 3px;
}
