/* vDesk.Contacts.Contact */
.Contacts .Company {
    cursor: pointer;
}

.Contacts .Company.Selected {
    background-color: var(--ControlSelected);
}

.Contacts .Company:hover {
    color: var(--FontLight);
    background-color: var(--ControlHover);
}

.Contacts .Company:active {
    background-color: var(--ControlPress);
}