/* vDesk.Contacts.Contact */
.Contacts .Contact {
    cursor: pointer;
}

.Contacts .Contact.Selected {
    background-color: var(--ControlSelected);
}

.Contacts .Contact:hover {
    color: var(--FontLight);
    background-color: var(--ControlHover);
}

.Contacts .Contact:active {
    background-color: var(--ControlPress);
}