/* vDesk.Archive.TreeViewItem */
.Archive > .TreeView .Item {
    cursor: pointer !important;
    display: block;
    margin: 0;
    white-space: nowrap;
    border: 1px solid transparent;
    min-height: 20px;
    position: relative;
}

.Archive > .TreeView .Item:hover, .Archive .TreeView .Item.DropTarget {
    background-color: rgba(161, 219, 255, 0.4);
    border: 1px solid #a1dbff;
}

.Archive > .TreeView .Item .Icon {
    width: 18px;
    height: 18px;
    margin: 2px;
    float: left;
    position: relative;
    z-index: 200;
}

.Archive > .TreeView .Item .Title {
    padding: 2px;
    word-break: keep-all;
    display: inline-block;
    position: relative;
    z-index: 200;
}

.Archive > .TreeView .Item .Expander {
    width: 18px;
    height: 18px;
    margin: 2px;
    float: left;
    font-size: 14px;
    text-align: center;
    position: relative;
    z-index: 200;
}

.Archive > .TreeView .Item .ChildList {
    list-style: outside none none;
    padding: 0;
    height: 100%;
    margin: 0 0 0 20px;
    display: none;
}

.Archive > .TreeView .Item .ChildList.Expanded {
    display: block;
}